<a href="https://colab.research.google.com/github/dussssssss/dus/blob/main/2025_09_18_%EC%8B%A4%EC%8A%B52_2025170608.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[실습 1]
본인 학과, 학번, 이름을 입력받아 출력하는 프로그램을 작성하세요.

In [1]:
major = input("학과를 입력하세요: ")
student_id = input("학번을 입력하세요: ")
name = input("이름을 입력하세요: ")

print(f"학과: {major}")
print(f"학번: {student_id}")
print(f"이름: {name}")

학과를 입력하세요: 건축학과
학번을 입력하세요: 25학번
이름을 입력하세요: 박서연
학과: 건축학과
학번: 25학번
이름: 박서연

[실습2] 사과와 주스를 사려고 합니다. 총 얼마를 내야 하는지, 그리고 낸 돈에서 거스름돈은 얼마인지 계산하는 프로그램을 만들어보세요.

사과 1개 가격: 1,500원

주스 1병 가격: 2,500원

내가 산 개수: 사과 3개, 주스 2병

내가 낸 돈: 10,000원

In [6]:
apple_price = 1500
juice_price = 2500

apple_count = int(input("사과의 개수:"))
juice_count = int(input("주스의 개수:"))

total_price = (apple_price * apple_count) + (juice_price * juice_count)
print(f"총 금액: {total_price}원")

money_given = int(input("낸 돈을 입력하세요 (원): "))

change = money_given - total_price

print(f"거스름돈: {change}원")

사과의 개수:3
주스의 개수:2
총 금액: 9500원
낸 돈을 입력하세요 (원): 10000
거스름돈: 500원

[실습3] 인기 있는 놀이기구 '자이언트 드롭'은 안전 문제로 탑승 조건이 있습니다. 나이와 키 정보를 보고 이 사람이 탑승 가능한지 True 또는 False로 알려주는 프로그램을 만들어보세요.

탑승 조건: 나이는 10살 이상 그리고 키는 140cm 이상이어야 합니다.

방문객 정보: 나이 12살, 키 135cm

힌트: 크거나 같음(>=) 비교 연산자와 and 논리 연산자를 사용해 보세요.

In [3]:
age = int(input("나이를 입력하세요: "))
height = int(input("키(cm)를 입력하세요: "))

can_ride = (age >= 10) and (height >= 140)

print("탑승 가능 여부:", can_ride)

나이를 입력하세요: 12
키(cm)를 입력하세요: 135
탑승 가능 여부: False

[실습4] 어떤 숫자가 주어졌을 때, 이 숫자가 짝수인지 홀수인지 판별하는 프로그램을 만들어보세요. 짝수라면 "짝수입니다."를, 홀수라면 "홀수입니다."를 출력하게 합니다.

판별할 숫자: 7

힌트:
어떤 숫자를 2로 나누었을 때 나머지가 0이면 짝수입니다. 나머지 연산자(%)와 같음 비교 연산자(==)를 사용해 보세요. if-else 조건문이 필요합니다.

In [7]:
num = int(input("판별할 숫자를 입력하세요: "))

if num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

판별할 숫자를 입력하세요: 7
홀수입니다.

[실습5] weather라는 변수에 오늘의 날씨를 저장합니다. 날씨에 따라 챙겨야 할 준비물을 다르게 알려주는 프로그램을 만들어보세요. weather 변수의 값을 "비", "미세먼지", "맑음", "구름" 등으로 바꿔서 테스트해보세요.

weather가 "비"이면, "우산을 챙기세요."

weather가 "미세먼지"이면, "마스크를 챙기세요."

weather가 "맑음"이면, "선글라스를 챙기세요."

그 외 다른 날씨이면, "좋은 하루 보내세요."를 출력합니다.

힌트: if, elif, else 선택 구조를 사용해서 조건에 따라 다른 문장이 출력되도록 만들어보세요.

In [8]:
weather = input("오늘의 날씨를 입력하세요 (예: 비, 미세먼지, 맑음, 구름): ")

if weather == "비":
    print("우산을 챙기세요.")
elif weather == "미세먼지":
    print("마스크를 챙기세요.")
elif weather == "맑음":
    print("선글라스를 챙기세요.")
else:
    print("좋은 하루 보내세요.")

오늘의 날씨를 입력하세요 (예: 비, 미세먼지, 맑음, 구름): 비
우산을 챙기세요.

[실습6] 우리 반 학생들의 이름이 담긴 리스트 students가 있습니다. 목록에 있는 모든 학생의 이름을 한 명씩 순서대로 부르며 출석을 확인하는 프로그램을 만들어보세요.

출석 명단: ["김철수", "이영희", "박지성", "김연아"]

출력 형식: "1번 학생 김철수, 출석 완료!" 와 같은 형식으로 모든 학생을 출력합니다.

힌트: students 리스트와 for 반복문을 사용해 보세요. 학생 번호도 함께 출력하려면 enumerate() 함수를 함께 사용하면 편리합니다.

In [12]:
ㅊㅇstudents = ["김철수", "이영희", "박지성", "김연아"]

for i, name in enumerate(students, start=1):
    input_text = input(f"{i}번 학생 {name}, 출석 했다면 출석이라고 입력: ")

    if input_text.strip() == "출석":
        print(f"{name} 출석 완료!")
    else:
        print(f"{name} 출석 실패.")

1번 학생 김철수, 출석 했다면 출석이라고 입력: 출석
김철수 출석 완료!
2번 학생 이영희, 출석 했다면 출석이라고 입력: 출석
이영희 출석 완료!
3번 학생 박지성, 출석 했다면 출석이라고 입력: ㅇㅇ
박지성 출석 실패! 다시 확인해주세요.
4번 학생 김연아, 출석 했다면 출석이라고 입력: 출석
김연아 출석 완료!

[과제1] 다음 `<blank>`에 들어갈 내용을 채워서 제출하세요

In [13]:
a = 5   #데이터 유형: int
b = 4   #데이터 유형: int

c = 3.1 #데이터 유형: float
d = '파이썬 수업' # 데이터 유형: str
e = a>b  #  데이터 유형:bool

#a와 b 덧셈 출력
print( a+b )

#a에서 b 빼기 출력
print( a-b )

#a와 b 곱셈 출력
print(a*b)

#d 문자열 출력
print(d)

#bool e 출력
print(e)

# 데이터 타입 출력

print(type(a))
print(type(c))
print(type(d))
print(type(e))

9
1
20
파이썬 수업
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

[과제2] 다음 `<blank>`에 들어갈 내용을 채워서 제출하세요

In [ ]:
#리스트 생성
a = <blank>     #'[ ]' (대괄호) 이용
b = <blank>     #list() 함수 이용
c = <blank>    #원소가 test인 리스트 생성
d = <blank>   #원소가 1,2, test 인 리스트 생성

print(a)
print(b)
print(c)
print(d)

[과제3] 다음 보기를 수행하는 코드를 작성하세요

 a = ['A', 'B', 'C', 'D', 'E', 'F']
 * (1) 'C' 인덱싱하여 출력하는 코드 작성
 * (2) 'E'를 인덱싱하여 출력하는 코드 작성
 * (3) 마지막 원소를 출력하는 코드 작성   
 * (4) 'B'에서 'D'까지 연속으로 출력하는 코드 작성 (슬라이싱 이용)
 * (5) 'C'를 'H'변경하는 코드 작성
 * (6) 최종 리스트 a 출력하는 코드 작성

In [14]:
a = ['A', 'B', 'C', 'D', 'E', 'F']

print(a[2]) # (1)

print(a[4]) # (2)

print(a[-1])  # (3)

print(a[1:4]) # (4)

a[2] = 'H'  # (5)

print(a) #(6)

C
E
F
['B', 'C', 'D']
['A', 'B', 'H', 'D', 'E', 'F']

[과제4] 리스트의 멤버함수를 활용하여 다음 보기를 수행하는 코드를 작성하세요
a = [9, 10, 7, 19, 1]
b = [2, 20, 21, 7, 8]

* (1) 리스트 a 끝에 '11' 추가 후 리스트 a 출력
* (2) 리스트 a에 리스트 b연장한 후, 리스트 a 출력
* (3) 리스트 a 정렬 후, 리스트 a 출력(인수를 생략하하면 오름차순 정렬) - sort() 이용
* (4) 0부터 2까지의 정수 리스트 c 생성 후, 리스트 c 출력
* (5) 1부터 시작해서 11까지 2씩 증가하는 정수 리스트 d 생성 후, 리스트 d 출력

> 힌트:
> * append() : 리스트의 끝에 항목을 추가함
> * extend() : 리스트를 연장, '+; 와 동일
> * sort() : 리스트 자체를 내부적으로 정렬 (reverse= True(내림차순)/False(오름차순))
> * range(start, stop, step): 함수를 이용한 리스트 생성
    - **start** 값부터 **stop-1**까지, **step 간격**으로 숫자 생성

In [15]:
a = [9, 10, 7, 19, 1]
b = [2, 20, 21, 7, 8]

a.append(11) #(1) 리스트 a에 '11' 추가 (append)
print(a)

a.extend(b)   #(2) 리스트 a에 리스트 b연장 (extend)
print(a)

a.sort()    # (3) 리스트 a 정렬 (인수를 생략하하면 오름차순 정렬)(sort)
print(a)

c = list(range(3)) # (4)0부터 2까지의 정수 리스트 c 생성 후, 리스트 c 출력
print(c)

d = list(range(1, 12, 2))         #(5) 1부터 시작해서 11까지 2씩 증가하는 숫자들의 리스트 생성 (range)
print(d)

[9, 10, 7, 19, 1, 11]
[9, 10, 7, 19, 1, 11, 2, 20, 21, 7, 8]
[1, 2, 7, 7, 8, 9, 10, 11, 19, 20, 21]
[0, 1, 2]
[1, 3, 5, 7, 9, 11]